<ul class="nav nav-pills">
	{{#navItem type 'docs'}}<a href="/docs">Documents</a>{{/navItem}}
	{{#navItem type 'slides'}}<a href="/slides">Slides</a>{{/navItem}}
	{{#navItem type 'tips'}}<a href="/tips">Tips</a>{{/navItem}}
</ul>
