<table class="table">
    <thead>
        <tr>
            <th class="col-sm-9">Title &nbsp;<a href="/tips/new" title="Create a tip"><i class="glyphicon glyphicon-plus"></i></a></th>
            <th class="col-sm-3">CreateDate</th>
        </tr>   
    </thead>
    <tbody>
        {{#each tips}}
        <tr>
            <td>
                {{#ifgt priority 0}}
                <a class="text-danger" href="/tips/tip/{{_id}}">
                    <b>[ TopMost ]</b>
                {{else}}
                <a href="/tips/tip/{{_id}}">
                {{/ifgt}}
                {{title}}
                </a>
                {{#if attachments.length}}
                <i class="glyphicon glyphicon-paperclip"></i>
                {{/if}}
            </td>
            <td>{{#date createDate 'MM-DD-YYYY'}}{{/date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{> pagination}}