<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document Viewer</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>
<body>
	{{> nav}}
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>