<a class="btn btn-default" href="/tips/new">Add Tip</a>
{{#if isEmpty}}
<span id="emptymsg">No tips now. You can <a href="/tips/new">add a new one</a>.</span>    
{{else}}
<table class="table">
    <thead>
        <tr>
            <th class="col-sm-6">Title</th>
            <th class="col-sm-4">CreateDate</th>
            <th class="col-sm-2">Action</th>
        </tr>   
    </thead>
    <tbody>
        {{#each tips}}
        <tr>
            <td>{{_id}}</td>
            <td>
                <a href="/tips/tip/{{_id}}">{{title}}</a>
                {{#if attachments.length}}
                <i class="glyphicon glyphicon-paperclip"></i>
                {{/if}}
            </td>
            <td>{{#date createDate 'MM-DD-YYYY'}}{{/date}}</td>
            <td>
                <button class="btn btn-xs btn-success">Edit</button>
                <button class="btn btn-xs btn-danger">Remove</button>
            </td>
        </tr>
        {{/each}}   
    </tbody>
</table>
{{/if}}