.box {
  margin-top: 10px;
}
.box.borderred {
  border: 1px solid #ccc;
  border-bottom: 0px;
}
.box .heading {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0px;
  background: #eee;
}
.box .body  {
  border-bottom: 1px solid #ccc;
}
.box .body.content {
  padding: 10px;
}
.box .body .list-item {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.box .body .list-item:last-child {
  border-bottom: 0px;
}

#emptymsg {
  display: block;
  margin: 10px auto;
  background: #eee;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.table {
  margin-top: 10px;
}

.tag-panel {
  font-size: 16px;
  margin-bottom: 20px;
}
.tag-panel .label {
  display: inline-block;
  margin: 4px 2px 0;
  font-weight: 400;
  background-color: #999;
}