.tip-content {
    margin-top: 20px;
}

.tip-taglist {
    margin: 10px 0;
}

.tip-tag {
    display: inline-block;
    margin-right: 10px;
}

.tip-atts {
    padding-left: 0;
    margin: 10px 0;
}

.tip-att {
    position: relative;
    float: left;
    list-style: none;
    margin: 0 5px;
}
.tip-att a {
    display: inline-block;
    background: #eee;
    color: #666;
    padding: 5px 25px 5px 5px;
    border-radius: 5px;
}
.tip-att:hover a {
    background: #ddd;
    cursor: pointer;
}
.tip-att .att_remove {
    position: absolute;
    right: 0;
    top: .4em;
    font-size: .8em;
    margin-left: 5px;
    padding: 5px;
}

.fun-bar a {
    display: inline-block;
    margin: 0 2px;
}
