doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .container
      .row
        .col-md-12
          h1= err.message
          h2= err.status
