<div class="row">
    <div class="col-md-3 col-md-push-9">
        {{> tags}}
    </div>
    <div class="col-md-9 col-md-pull-3">
        <div class="input-group">
	        <span class="input-group-btn">
	        	<button id="btnSearch" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
	        </span>
	        <input id="txtSearch" type="text" class="form-control" placeholder="Search...">
	    </div>
        <div class="current_tag">
            <label>Current Search Key:</label> {{searchKey}}    
        </div>
        {{#if tips.length}}
        {{> tiplist}}    
        {{else}}
        <span id="emptymsg">No searching results.</span>
        {{/if}}
    </div>    
</div>

<script src="/dv.itip.min.js"></script>