<div class="row">
    <div class="col-md-3 col-md-push-9">
        {{> tags}}
    </div>
    <div class="col-md-9 col-md-pull-3">
        <div class="input-group">
	        <span class="input-group-btn">
	        	<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
	        </span>
	        <input type="text" class="form-control" placeholder="Search...">
	    </div>
        {{#if currentTag}}
        <div class="current_tag">
            <label>Current Tag:</label> {{currentTag}}    
        </div>
        {{/if}}
        {{> tiplist}}
    </div>    
</div>
