h2 { margin-top: 0; }
textarea {
  resize: none;
}
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }


.container {
  /*margin: auto;
  width: 1000px;*/
}
ul.breadcrumbs {
  padding-left: 0px;
  margin: 0px;
  margin-left: 5px;
  display: inline-block;
}
ul.breadcrumbs li {
  display: inline-block;
  margin-right: 2px;
}
ul.breadcrumbs li:last-child a {
  text-decoration: none;
  color: #555;
}
ul.breadcrumbs li:before {
  content: " /";
  margin-right: 2px;
}

.clearfix:after {
  display:table;
  content: "";
  clear: both;
}

/* dropbox style START */
.dropbox { margin-bottom: 10px; }
.inner-box {
    float: left;
    width: 200px;
    height: 200px;
    border: 5px dashed #ccc;
    position: relative;
}
.inner-box.active {
    border-color: green;
}
.inner-box section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 80%;
    text-align: center;
}

.file-select {
    margin-top: 10px;
}
.cross {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px auto 0;
    border: 3px dotted #ccc;
    border-radius: 100%;
}
.cross:before, .cross:after {
    content: '';
    display: inline-block;
    position: absolute;
    border: 2px solid #ccc;
    width: 15px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -7.5px;
}
.cross:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.cross:hover, .cross:hover:before, .cross:hover:after {
    border-color: green;
}
.cross:active, .cross:active:before, .cross:active:after {
    border-color: #00DE16;
}

.attlist {
    margin-left: 220px;
    height: 200px;
    overflow: auto;
}
.attlist .att {
    display: inline-block;
    background: #999;
    color: #fff;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    margin: 0 5px 5px;
}
.attlist .att .content {
    position: relative;
    left: 5px;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.attlist .att .glyphicon {
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
}
.attlist .att:hover .glyphicon {
    opacity: 1;
}
.attlist .att:hover .content {
    left: -5px;
}
/* dropbox style END */

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    opacity: 0.5;
    z-index: 10000;
}
.backdrop section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 80%;
    text-align: center;
    color: #00e;
    opacity: 1;
}
.spinner {
    font-size: 30px;
    -webkit-animation: spin 1s infinite;
            animation: spin 1s infinite;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}

@keyframes spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}

#new_tip_errmsg {
    color: red;
}
.box {
  margin-top: 10px;
}
.box.borderred {
  border: 1px solid #ccc;
  border-bottom: 0px;
}
.box .heading {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0px;
  background: #eee;
}
.box .body  {
  border-bottom: 1px solid #ccc;
}
.box .body.content {
  padding: 10px;
}
.box .body .list-item {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
.box .body .list-item:last-child {
  border-bottom: 0px;
}

#emptymsg {
  display: block;
  margin: 10px auto;
  background: #eee;
  width: 200px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

.table {
  margin-top: 10px;
}

.tag-panel {
  font-size: 16px;
  margin-bottom: 20px;
}
.tag-panel .label {
  display: inline-block;
  margin: 4px 2px 0;
  font-weight: 400;
  background-color: #999;
}
.tip-content {
    margin-top: 20px;
}

.tip-taglist {
    margin: 10px 0;
}

.tip-tag {
    display: inline-block;
    margin-right: 10px;
}

.tip-atts {
    padding-left: 0;
}

.tip-att {
    float: left;
    list-style: none;
    margin: 0 5px;
}
.tip-att a {
    display: inline-block;
    background: #eee;
    color: #666;
    padding: 5px;
    border-radius: 5px;
}
.tip-att:hover a {
    background: #ddd;
    cursor: pointer;
}

.fun-bar a {
    display: inline-block;
    margin: 0 2px;
}
